@model Mvc5WebApp.UI.ViewModels.People.PeopleViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>PhoneNumber</th>
    </tr>
@foreach (var item in @Model.People)
{
    <tr>
        <td><span>@item.ID</span></td>
        <td><span>@item.Name</span></td>
        <td><span>@item.PhoneNumber</span></td>
    </tr>

}
</table>
